* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #f5f5f2;
}
nav {
  margin-top: 14px;
  margin-left: 57.5px;
  width: 104.502px;
  height: 36px;
}
a {
  text-decoration: none;
  color: inherit;
}
.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.left-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.left-hero-container img {
  width: 157px;
  height: 157px;
}
.left-hero-container h4 {
  width: 602px;
  color: #000;
  font-size: 40px;
  font-weight: 500;
}
.left-hero-container p {
  width: 456px;
  height: 80.412px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.4;
}
.left-hero-container button {
  width: 126px;
  height: 44px;
  background-color: #053582;
  color: #ffffff;
  border-radius: 10px;
}
.right-hero-container {
  display: inline-flex;
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px -5px 40px 0px rgba(205, 205, 212, 0.1);
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 3rem;
}
.right-hero-container a {
  color: #053582;
}
.top-right-hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.right-hero-container button {
  background-color: #053582;
  color: #ffffff;
  width: 101px;
  height: 44px;
  border-radius: 10px;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 416px;
  font-size: 14px;
  font-weight: 400;
}
.info-container input {
  height: 48px;
  border-radius: 10px;
  border: 1px solid #e2e2ea;
  background: #fff;
}
.info-container p {
  width: 416px;
  color: #252525;
}
::placeholder {
  color: #b5b5be;
}
.formz {
  height: 59px;
}
.formz input {
  width: 200px;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 416px;
  height: 48px;
}
.sign-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 87px;
}
.sign-in p {
  color: #696974;
  text-align: center;
  width: 227.876px;
}

@media (max-width: 1300px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 850px) {
  .left-hero-container h4 {
    width: 500px;
  }
  .formz {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 120px;
  }
  .formz input {
    width: 416px;
    height: 48px;
  }
  .left-hero-container p {
    width: 356px;
  }
}
@media (max-width: 700px) {
  .left-hero-container h4 {
    width: 400px;
  }
  .right-hero-container {
    width: 350px;
    margin-right: 0;
  }
  .info-container {
    width: 270px;
  }
  .forms {
    width: 270px;
  }
  .formz {
    width: 270px;
  }
  .formz input {
    width: 270px;
  }
  .right-hero-container > img {
    width: 270px;
  }
  .info-container p {
    width: 300px;
  }
  .sign-in {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 450px) {
  body {
    margin: 1rem;
    margin-left: 1rem;
  }
}
